body {
    line-height: 1;
    max-width: 1500px;
    width: 100%;
}

nav ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 15px;
}

.header-ttl {
    font-size: 25px;
}

.header-ttl-link {
    text-decoration: none;
    width: 125px;
    height: 25px;
}

.header-list {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.header-list-item {
    list-style: none;
    font-weight: lighter;
    font-size: 15px;
}

.header-list-item:not(:last-of-type) {
    margin-right: 20px;
}

.header-list-item-link {
    text-decoration: none;
    color: #000000;
}

.header-menu {
    display: none;
}

.eyecatch {
    position: relative;
}

.eyecatch-img {
    width: 100%;
}

.eyecatch-img img {
    width: 50%;
    height: auto;
    display: block;
    margin: 100px 0 50px auto;
}

.eyecatch-copy {
    position: absolute;
    font-family: 'Gloria Hallelujah', cursive;
    color: #B31667;
    left: 360px;
    bottom: 200px;
    font-size: 50px;
    line-height: 1.2;
}

.catch-copy-color {
    color: #0D9FB7;
}

.eyecatch-comment {
    position: absolute;
    left: 360px;
    bottom: 70px;
}

.eyecatch-comment-innar {
    font-size: 20px;
}

.eyecatch-copy-color {
    color: #009999;
}

.eyecatch-comment {
    color: #B31667;
    font-weight: bold;
    font-size: 30px;
}

.eyecatch-comment-black {
    color: #000000;
    font-weight: lighter;
    font-size: 14px;
}







.list {
    width: 100%;
    margin: 25px auto;
}

@media (min-width: 1000px) and (max-width: 1500px) {
    .list {
        width: 100%;
        margin: 25px auto;
    }
}

.list-title {
    font-family: 'Caveat', cursive;
    color: #B31667;
    margin: 40px 0px 0px 210px;
    font-size: 20px;
}

.list-title-h2 {
    margin: 10px 0px 30px 210px;
    font-size: 25px;
}

.list-group-area_first {
    width: 60%;
    border-bottom: 1px solid #A9A9A9;
    margin: 0px auto;
    padding-bottom: 20px;
    border-top: 2px solid #808080;
    padding-top: 30px;
}

.list-group-area {
    width: 60%;
    margin: 0px auto;
    border-bottom: 1px solid #A9A9A9;
    padding-bottom: 20px;
}

.list-group li {
    list-style-type: none;
    margin-bottom: 30px;
}

.list-group-area-date,
.list-group-area-text {
    font-family: Helvetica, "游ゴシック", sans-serif;
}

.list-group-area-news {
    width: 100px;
    height: 20px;
    background: #B31667;
    border-radius: 30px;
    color: #FFFFFF;
    margin: 0px 20px;
    padding: 0px 15px;
}

.list-group-area-text {
    margin-right: 25px;
}











.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 60px;
    background-color: #F5F5F5;
    width: 100%;
    height: 450px;
}

.container-title {
    font-family: 'Caveat', cursive;
    color: #B31667;
    margin: 30px 0px 20px 0px;
    margin-left: 50%;
    font-size: 20px;
}

.container-title-h2 {
    margin: 0px auto;
    font-size: 25px;
}

.container-group-text {
    line-height: 1.6;
    margin: 50px 0px 0px 15%;
}

.container-group-image {
    width: 30%;
    height: auto;
    margin-left: 60%;
    display: block;
    margin-top: -180px;
}










.outer-title {
    font-family: 'Caveat', cursive;
    color: #B31667;
    margin: 40px 0px 0px 210px;
    font-size: 20px;
}

.outer-title-h2 {
    margin: 10px 0px 30px 210px;
    font-size: 25px;
}

.group {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 1fr 2fr 2fr 1fr;
}

.group-area {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #B31667;
    height: 400px;
}

.group-area-svg,
.group-domain-svg,
.group-field-svg {
    width: 150px;
    height: 150px;
}

.group-area-svg {
    display: block;
    margin: 30px auto;
}

.group-area-title {
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

.group-area-text {
    margin-left: 20px;
    color: #FFFFFF;
}

.group-domain {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #B35B8B;
}

.group-field {
    grid-column: 3/4;
    grid-row: 2/2;
    background-color: #B2889E;
}

.group-domain-svg,
.group-field-svg {
    margin-top: 25px;
}

.group-domain-space,
.group-field-mass {
    margin: -120px 0px 0px 150px;
}

.group-domain-space-title,
.group-field-mass-title {
    color: #FFFFFF;
}

.group-domain-space-text,
.group-field-mass-text {
    color: #FFFFFF;
}

.group-area-text,
.group-domain-space-text,
.group-field-mass-text {
    line-height: 1.6;
}












.wrapper {
    background-color: #F5F5F5;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-outer {
    margin-right: auto;
    ;
    padding: 20px 0px;
}

.wrapper-outer-title {
    font-family: 'Caveat', cursive;
    color: #B31667;
    margin: 20px 0px 0px 210px;
    font-size: 20px;
}

.wrapper-outer-title-h2 {
    margin: 10px 0px 0px 210px;
    font-size: 25px;
}

.wrapper-groups-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.wrapper-group-blog {
    position: relative;
    bottom: 200px;
    right: 120px;
    color: #FFFFFF;
    width: 60px;
    height: 30px;
}

.wrapper-group-blog-span {
    background-color: #B31667;
    border-radius: 10px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
}

.wrapper-group-img {
    border-radius: 10px 10px 0px 0px;
    width: 300px;
    height: 200px;
}

.wrapper-group {
    width: 300px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.wrapper-group-text {
    padding-top: 30px;
    text-align: left;
    font-weight: 600;
    line-height: 1.5;
}

.wrapper-group-under {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper-group-under-date,
.wrapper-group-under-word {
    display: inline-block;
}


.wrapper-button {
    text-decoration: none;
    width: 200px;
    padding: 20px 0;
    color: #B31667;
    border: 3px solid #B31667;
    border-radius: 30px;
    text-align: center;
    margin: 20px 0px;
}









.about {
    width: 60%;
    margin: 0 auto;
}

@media (min-width: 1000px) and (max-width: 1500px) {
    .about {
        width: 60%;
        margin: 0px auto;
    }

    .about-table {
        border-collapse: collapse;
        width: 100%;
    }
}

.about-outer {
    margin: 35px 0px;
}

.about-outer-title {
    font-family: 'Caveat', cursive;
    color: #B31667;
    font-size: 20px;
}

.about-outer-title-h2 {
    margin: 10px 0px;
    font-size: 25px;
}

.about-table {
    border-collapse: collapse;
    width: 100%;
}

.about-table th:nth-child(1) {
    width: 20%;
}

.about-table td:nth-child(1) {
    width: 80%;
}

.about-table-th {
    border: 1px solid black;
    font-weight: bold;
    background-color: rgba(200, 200, 200, 0.25);
    text-align: left;
    padding: 15px 0px 15px 10px;
}

.about-table-td {
    border: 1px solid black;
    padding: 10px;
}









.service {
    position: relative;
    top: 100px;
}

.service-parent {
    display: grid;
    grid-template-rows: 250px;
    grid-template-columns: 2fr 2fr;
}

.service-parent div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.service-parent-logo {
    grid-column: 1/2;
    grid-row: 1/1;
    background-image: url('img/recruit.png');
    font-size: 25px;
}

.service-parent-logo2 {
    grid-column: 2/2;
    grid-row: 1/1;
    background-image: url('img/interview.png');
    font-size: 25px;
}

.info {
    position: relative;
    top: 150px;
}

.info-text {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-line {
    margin-top: 20px;
}

.info-line-inner {
    height: 30px;
    border-left: 2px solid #B31667;
    position: absolute;
    left: 50%;
}

.info-button-main {
    position: relative;
    background: linear-gradient(90deg, #EF1D88, #B31667);
    width: 200px;
    display: block;
    padding: 18px;
    padding-left: 50px;
    box-shadow: 5px 5px 0 black;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    margin: 60px auto;

}

.info-button-main::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    background: url(img/mailicon.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
}

.footer {
    background-color: #F5F5F5;
    position: relative;
    top: 150px;
    padding: 20px 0;
    text-align: center;
}

.footer-text {
    font-size: smaller;
}